<div *ngIf="DatosService.lugar == 'presentacion'">
    <article class="texto">
        <div style='text-align:center'><b>Una breve explicacion</b></div>
        <br />
        En esta página, te verás envuelto en una aventura,
        en la que tendrás que tomar decisiones y las consecuencias dependerán de ellas,
        pero también en gran medida del azar. <br><br>
        En cada acción es probable que tengas que lanzar un dado virtual,
        el cual tendrá que tener un resultado igual o superior al número de la habilidad requerida de tu personaje
        para que tu elección sea exitosa.
        <br><br>
        Si por ejemplo decides realizar una acción usando la fuerza, es probable que tengas que realizar una tirada de
        fuerza.
        Supongamos que ese valor es el siguiente: <br><br> Fuerza
        <img width="200px" src="assets/1.png"><br><br>
        Pues el resultado del dado tendría que ser un 5 o un 6 para que salga bien tu elección, si no, muy probablemente
        fracasará.
        Si sale un 1 siempre será fallo, y el 6 siempre acierto.
    </article>
    <br>
    <div class="botonflex">
        <button class="button" (click)="DatosService.siguiente('desarrollo')">Opciones de
            desarrollo</button>
        <button class="button" (click)="DatosService.siguiente('personaje')">siguiente</button>
    </div>
</div>


<div *ngIf="DatosService.lugar == 'personaje'">
    <article class="texto">
        <div style='text-align:center'><b>¿Quién eres?</b><br></div>
        <br />A continuación, crea tu personaje. <br><br><br> Nombre:
        <input class="nombre" type="text" [(ngModel)]="DatosService.nombre">
        <br><br>
        Sexo: <Button class="sexo" (click)="DatosService.cambioSexo('o')"> Hombre</Button><Button class="sexo"
            (click)="DatosService.cambioSexo('a')" width="500px"> Mujer</Button><br><br><br>
        <div *ngIf="DatosService.sexo != 'j' ">¡Bienvenid{{DatosService.sexo}} {{DatosService.nombre}} a la aventura!
            <br><br><br> A continuación, asigna las habilidades de tu personaje:
            <br><br>
            Puntos restantes a repartir : {{DatosService.puntos}} <br><br>
            <div class=atributos>
                <div class=cajaA>Fuerza <br> <button class="circulito"
                        (click)="DatosService.atributoF(1)"><b>+</b></button>
                    <button class="circulito" (click)="DatosService.atributoF(-1)"><b>-</b></button><br>
                    <img *ngIf="DatosService.fuerza == 0" width="130px" src="assets/0.png">
                    <img *ngIf="DatosService.fuerza == 1" width="130px" src="assets/1.png">
                    <img *ngIf="DatosService.fuerza == 2" width="130px" src="assets/2.png">
                    <img *ngIf="DatosService.fuerza == 3" width="130px" src="assets/3.png">
                    <img *ngIf="DatosService.fuerza == 4" width="130px" src="assets/4.png">
                </div>
                <div class=cajaA>Velocidad <br> <button class="circulito"
                        (click)="DatosService.atributoV(1)"><b>+</b></button>
                    <button class="circulito" (click)="DatosService.atributoV(-1)"><b>-</b></button><br>
                    <img *ngIf="DatosService.velocidad == 0" width="130px" src="assets/0.png">
                    <img *ngIf="DatosService.velocidad == 1" width="130px" src="assets/1.png">
                    <img *ngIf="DatosService.velocidad == 2" width="130px" src="assets/2.png">
                    <img *ngIf="DatosService.velocidad == 3" width="130px" src="assets/3.png">
                    <img *ngIf="DatosService.velocidad == 4" width="130px" src="assets/4.png">
                </div>
                <div class=cajaA>Puntería <br> <button class="circulito"
                        (click)="DatosService.atributoPun(1)"><b>+</b></button>
                    <button class="circulito" (click)="DatosService.atributoPun(-1)"><b>-</b></button><br>
                    <img *ngIf="DatosService.punteria == 0" width="130px" src="assets/0.png">
                    <img *ngIf="DatosService.punteria == 1" width="130px" src="assets/1.png">
                    <img *ngIf="DatosService.punteria == 2" width="130px" src="assets/2.png">
                    <img *ngIf="DatosService.punteria == 3" width="130px" src="assets/3.png">
                    <img *ngIf="DatosService.punteria == 4" width="130px" src="assets/4.png">
                </div>
                <div class=cajaA>Percepción <br> <button class="circulito"
                        (click)="DatosService.atributoPer(1)"><b>+</b></button>
                    <button class="circulito" (click)="DatosService.atributoPer(-1)"><b>-</b></button><br>
                    <img *ngIf="DatosService.percepcion == 0" width="130px" src="assets/0.png">
                    <img *ngIf="DatosService.percepcion == 1" width="130px" src="assets/1.png">
                    <img *ngIf="DatosService.percepcion == 2" width="130px" src="assets/2.png">
                    <img *ngIf="DatosService.percepcion == 3" width="130px" src="assets/3.png">
                    <img *ngIf="DatosService.percepcion == 4" width="130px" src="assets/4.png">
                </div>

            </div>
            <br><br><br>
            <div class="botonflex">
                <button class="button" (click)="DatosService.siguiente('presentacion')">anterior</button>
                <button class="button" *ngIf="DatosService.sexo !='j' && DatosService.puntos == 0"
                    (click)="DatosService.siguiente('historia')">siguiente</button>
            </div>
        </div>
    </article>
</div>



<div *ngIf="DatosService.lugar == 'desarrollo'">
    <article class="texto">
        <div style='text-align:center'><b>¿Dónde quieres ir?</b><br><br>
            Empezar aventura con el personaje ya creado
            <button
                (click)="DatosService.fuerza = 2 && DatosService.velocidad = 2 && DatosService.punteria = 2 && DatosService.percepcion = 2"
                (click)="DatosService.lugar = 'historia'">
                ir</button>
            <br><br>
            Empezar en la puerta
            <button
                (click)="DatosService.fuerza = 2 && DatosService.velocidad = 2 && DatosService.punteria = 2 && DatosService.percepcion = 2"
                (click)="DatosService.lugar = 'puertaRuido'">
                ir</button><br><br>
                Empezar en la puerta y fallar todo
                <button
                    (click)="DatosService.fuerza = 0 && DatosService.velocidad = 0 && DatosService.punteria = 0 && DatosService.percepcion = 0"
                    (click)="DatosService.lugar = 'puertaRuido'">
                    ir</button>
            <br><br><br>
            <button (click)="DatosService.siguiente('presentacion')">anterior</button>
            <br><br><br>
            <button (click)="DatosService.siguiente('estadisticas')">estadisticas</button>
        </div>
    </article>
</div>



<div *ngIf="DatosService.lugar == 'estadisticas'">
    <article class="texto">
        <div style='text-align:center'><b>Estadísticas</b><br><br>
            Duración: {{DatosService.duracionMinutos}} minutos y {{DatosService.duracionSegundos}} segundos<br><br><br>
            media de las tiradas {{DatosService.mediaTiradas}}
            <br><br><br><!-- 
            <button (click)="DatosService.siguiente('presentacion')">anterior</button>
            <br><br><br>
            <button (click)="DatosService.siguiente('estadisticas')">estadisticas</button> -->
        </div>
    </article>
</div>