<div *ngIf="DatosService.lugar == 'historia'">
    <article class="texto">
        <div style='text-align:center'><b>¡Comienza la aventura!<br><br></b></div>
        A mediados de noviembre te llega una carta informando que has recibido una herencia
        de una vieja casa en mitad del bosque de un familiar lejano, no tienes ningún interés en ella,
        pero por verla y ver si tiene posibilidad de inversión no pierdes nada. Sales de trabajar,
        te montas en el coche y vas directo al lugar. <br><br>
        <img class="centrada" src="../../assets/imagenes/cocheCamino.jpeg" height="300">
        <br>
        <br>

        Abandonas la carretera secundaria, y te metes por un camino en el que cuanto más avanzas, en peor estado está.
        <br><br>Poco a poco va anocheciendo.

    </article>
    <br><br>
    <div class="botonflex">
        <div class="botonflex">
            <button class=" button" (click)="DatosService.tirada('percepcion')"> realizar tirada de percepcion </button>
        </div>
    </div>

</div>

<div *ngIf="DatosService.lugar == 'roca'">
    <article class="texto">ves entre la maleza del sendero una roca e inmediatamente intentas esquivarla y parar
    </article>
    <div class="botonflex">
        <div class="botonflex">
            <button class="button" (click)="DatosService.tirada('velocidad')"> intentas esquivar la roca (tirada de
                velocidad)</button>
        </div>
    </div>
</div>

<div *ngIf="DatosService.lugar == 'rocaGolpe1'">
    <article class="texto">Notas un golpazo en la parte inferior del coche, paras el coche, y bajas a ver lo que ha
        sucedido
        y descubres que el golpe ha perforado el depósito de gasolina y se está derramando en la tierra.
        En el coche no tienes nada que te sirva para taponar la fuga ni para almacenar la gasolina que cae.
        "Mal sitio para quedarse atrapado" piensas, ya que no hay cobertura y estás lejos de la carretera.
        Esperas poder encontrar en la casa gasolina y las herramientas necesarias para poder arreglar la fisura.
    </article>
    <div class="botonflex">
        <button class="button" (click)="DatosService.siguiente('bosqueIda')"> siguiente</button>
    </div>
</div>

<div *ngIf="DatosService.lugar == 'rocaSalvas'">
    <article class="texto">Por los pelos logras esquivar la roca. Detienes el coche completamente y compruebas que está
        en buen estado.
        Decides que es mejor continuar a pie, la casa no debe estar lejos</article>
    <div class="botonflex">
        <button class="button" (click)="DatosService.siguiente('bosqueIda')"> siguiente</button>
    </div>
</div>

<div *ngIf="DatosService.lugar == 'rocaGolpe2'"> <!-- 13 -->
    <article class="texto">Pegas un volantazo y clavas el freno pero tu reacción ha sido demasiado lenta y notas un
        golpe en la parte inferior del coche. <br><br>
        Bajas con la esperanza de que no haya sido nada pero descubres que el golpe ha perforado el depósito de gasolina
        y se está derramando en la tierra.<br><br>
        En el coche no tienes nada que te sirva para taponar la fuga ni para almacenar la gasolina que cae.
        "Mal sitio para quedarse atrapado" piensas, ya que no hay cobertura y estás lejos de la carretera.
        Esperas poder encontrar en la casa gasolina y las herramientas necesarias para poder arreglar la fisura.
    </article>
    <div class="botonflex">
        <button class="button" (click)="DatosService.siguiente('bosqueIda')"> siguiente</button>
    </div>
</div>

<div *ngIf="DatosService.lugar == 'bosqueIda'"> <!-- 20 -->
    <article class="texto"> Mientras caminas, sientes miedo, sabes que en esta zona no hay ningún animal peligroso ni
        nadie cerca,
        pero ese pequeño miedo irracional al estar en mitad de la nada de noche no te lo puedes quitar de la cabeza,
        así que agarras un palo del suelo, siempre transmite seguridad...<br><br>
        Avanzas unos metros y ves que en mitad del sendero hay el tronco de un arbol caido.
    </article>
    <div class="botonflex">
        <button class="button" (click)="DatosService.tirada('fuerza')"> tratar de apartarlo del camino (fuerza)</button>
    </div>
    <div class="botonflex">
        <button class="button" (click)="DatosService.siguiente('claroMosquito')"> pasar por encima</button>
    </div>
</div>

<div *ngIf="DatosService.lugar == 'troncoFuera'">
    <article class="texto">Consigues echar a un lado el tronco. "Así no tendré que bajarme del coche para quitarlo la
        próxima vez"
    </article>
    <div class="botonflex">
        <button class="button" (click)="DatosService.siguiente('claroMosquito')"> siguiente</button>
    </div>
</div>
<div *ngIf="DatosService.lugar == 'troncoCamino'">
    <article class="texto">El tronco es demasiado pesado, decides dejarlo donde está y continúas
    </article>
    <div class="botonflex">
        <button class="button" (click)="DatosService.siguiente('claroMosquito')"> siguiente</button>
    </div>
</div>


<div *ngIf="DatosService.lugar == 'claroMosquito'">
    <article class="texto"> Llegas a un claro, y ya por fin ves la casa.
        Ya es de noche, una noche completamente despejada y silenciosa, a medida que avanzas sólo escuchas tus pasos y
        algún grillo a lo lejos,
        hasta que de pronto escuchas un zumbido acercarse y le das un manotazo cuando lo notas detrás en tu
        cuello.
        ¿Qué es eso? te preguntas asustad{{DatosService.sexo}} al ver retorcerse en el suelo lo que parece un mosquito
        más grande que tu mano. <br> <br>
        Empuñas con fuerza el palo y te acercas a la casa. Al llegar a la puerta oyes ruido en su interior... <br>
    </article>
    <div class="botonflex">
        <div class="botonflex">
            <button class="button" (click)="DatosService.siguiente('salon')"> entrar</button>
        </div>
        <div class="botonflex">
            <button class="button" (click)="DatosService.lugar = 'escucha'"> escuchar </button>
        </div>
        <div class="botonflex">
            <button class="button" (click)="DatosService.tirada('fuerza')"> abrir la puerta de una patada (lugar
                bugueado,
                no pulsar)</button>
        </div>
        <!-- aquí te lanzará al 46 aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
        <div class="botonflex">
            <button class="button" (click)="DatosService.siguiente('exteriorVentana')"> rodear la casa para ver qué
                encuentras</button>
        </div>
    </div>
</div>

<div *ngIf="DatosService.lugar == 'escucha'">
    <article class="texto">Pegas el oido a la puerta y no logras descifrar qué estás escuchando.
        Lo que está claro es que hay un animal tras la puerta.<br>
    </article>

    <div class="botonflex">
        <div class="botonflex">
            <button class="button" (click)="DatosService.siguiente('salon')"> entrar</button>
        </div>
        <div class="botonflex">
            <button class="button" (click)="DatosService.tirada('fuerza')"> abrir la puerta de una patada (lugar
                bugueado,
                no pulsar)</button>
        </div>
        <!-- aquí te lanzará al 46 -->
        <div class="botonflex">
            <button class="button" (click)="DatosService.siguiente('exteriorVentana')"> rodear la casa para ver qué
                encuentras</button>
        </div>
    </div>
</div>


<div *ngIf="DatosService.lugar == 'mantisSorprendida'">
    <article class="texto">Pegas una patada a la puerta con todas tus fuerzas dejando en Shock
        a lo que parece una Mantis de más de medio metro de altura que estaba comiendose una presa.
        Sin pensártelo dos veces empuñas tu palo y tratas de golpearla con todas tus fuerzas<br>
    </article>
    <div class="botonflex">
        <button class="button" (click)="DatosService.tirada('fuerza')"> Golpear la Mantis (fuerza) </button>
    </div>
</div>


<div *ngIf="DatosService.lugar == 'cuadro'">
    <article class="texto">Pintas involuntariamente un cuadro abstracto en la pared con las tripas de la mantis del palo
        que le das<br>
    </article>
    <div class="botonflex">
        <button class="button" (click)="DatosService.lugar = 'salon'"> Mirar a tu alrededor</button>
    </div>
</div>

<div *ngIf="DatosService.lugar == 'puertaRuido'">
    <article class="texto"> Al llegar a la puerta oyes ruido en su interior... <br>
    </article>
    <div class="botonflex">
        <button class="button" (click)="DatosService.siguiente('salon')"> entrar</button>
    </div>
    <div class="botonflex">
        <button class="button" (click)="DatosService.lugar = 'escucha'"> escuchar </button>
    </div>
    <div class="botonflex">
        <button class="button" (click)="DatosService.tirada('fuerza')"> abrir la puerta de una patada (lugar bugueado,
            no
            pulsar) </button>
    </div>
    <div class="botonflex">
        <button class="button" (click)="DatosService.siguiente('exteriorVentana')"> rodear la casa</button>
    </div>
</div>

<div *ngIf="DatosService.lugar == 'puertaSilencio'">
    <article class="texto"> Vuelves a la puerta de entrada, esta vez sin ningún peligro en el interior <br>
    </article>
    <div class="botonflex">
        <button class="button" (click)="DatosService.siguiente('salon')"> entrar</button>
    </div>
    <div class="botonflex">
        <button class="button" (click)="DatosService.siguiente('exteriorVentana')"> rodear la casa</button>
    </div>
</div>


<div *ngIf="DatosService.lugar == 'salon' && DatosService.salon == true">
    <article class="texto"> Al entrar en el salón una mantis de medio metro que estaba devorando a una presa, se
        avalanza sobre ti <br>
        <div class="botonflex">
            <button class="button" (click)="DatosService.tirada('velocidad')"> Intentar esquivarla (velocidad)</button>
        </div>
        <!-- exito 41 fallo 42  -->
    </article>
</div>
<div *ngIf="DatosService.lugar == 'mantisEsquiva'">
    <article class="texto"> Esquivas a la mantis gigante, y con todas tus fuerzas le golpeas con el palo partiéndola en
        dos <br>
        <div class="botonflex">
            <button class="button" (click)="DatosService.siguiente('salon')">mirar alrededor</button>
        </div>
    </article>
</div>

<div *ngIf="DatosService.lugar == 'mantisAtaca'">
    <article class="texto"> La mantis salta sobre ti, te ataca y tratas de quitártela de encima antes de que pueda
        hacerte daño <br>
        <div class="botonflex">
            <button class="button" (click)="DatosService.tirada('fuerza')"> agarrar la mantis con tus manos
                (fuerza)</button>
        </div>
        <!-- exito 43 fallo 44  -->
    </article>
</div>
<div *ngIf="DatosService.lugar == 'mantisPartida'">
    <article class="texto"> Pegas un grito de guerra mientras la partes en dos con tus manos lanzando cada parte en una
        direción.<br><br>AaAaAaAahhhh!!!<br><br>

        <div *ngIf="DatosService.conocimiento == true">
            Al fin y al cabo es sólo un insecto aunque sea gigante, pero ¿y si algún animal más grande hubiera entrado
            en
            contacto con la sustancia? </div>
        <div *ngIf="DatosService.conocimiento == false">
            ¿Cómo es posible que existan estos insectos gigantes? ¿Y si hubiera otros animales más peligrosos? </div>
        <br>
        <div class="botonflex">
            <button class="button" (click)="DatosService.siguiente('salon')">mirar alrededor</button>
        </div>
    </article>
</div>
<div *ngIf="DatosService.lugar == 'mantisAplastada'">
    <article class="texto"> te desgarra la cara y hasta empiezas a temer por tu vida. ¿cómo un insecto va a hacerme
        esto?
        <br><br> Te das media vuelta y te dejas caer sobre el insecto espachurrándolo contra el suelo.
        <div *ngIf="DatosService.conocimiento == true">
            Al fin y al cabo es sólo un insecto aunque sea gigante, pero ¿y si algún animal más grande hubiera entrado
            en
            contacto con la sustancia? </div>
        <div *ngIf="DatosService.conocimiento == false">
            ¿Cómo es posible que existan estos insectos gigantes? ¿Y si hubiera otros animales más peligrosos? </div>
        <br>
        <div class="botonflex">
            <button class="button" (click)="DatosService.siguiente('salon')">mirar alrededor</button>
        </div>
    </article>
</div>

<div *ngIf="DatosService.lugar == 'salon' && DatosService.salon == false">
    <article class="texto"> El salón no tiene demasiados adornos, un sofá viejo, una TV vieja, y algún cuadro feo.
        El salón comunica con la cocina, la cual no ves que tenga nada particular, también comunica con
        un dormitorio con material de laboratorio y una cochera llena de trastos <br>
        <div class="botonflex">
            <button class="button" (click)="DatosService.siguiente('cochera')">entrar a la
                cochera</button>
        </div>
        <div class="botonflex">
            <button class="button" (click)="DatosService.siguiente('puertaSilencio')">salir al exterior</button>
        </div>
        <div class="botonflex">
            <button class="button" (click)="DatosService.siguiente('dormitorio')">entrar al dormitorio</button>
        </div>
        <div class="botonflex">
            <button class="button" *ngIf="DatosService.coche == true && DatosService.conocimiento == true"
                (click)="DatosService.siguiente('volverCoche')"> volver al coche inmediatamente <br> ya he visto lo
                suficiente. <br> este lugar no es seguro
            </button>
        </div>
        <div class="botonflex">
            <button
                *ngIf="DatosService.coche == false && DatosService.conocimiento == true && DatosService.herramientas == true"
                (click)="DatosService.siguiente('volverCoche')"> volver al coche inmediatamente
            </button>
        </div>

    </article>
</div>

<div *ngIf="DatosService.lugar == 'exteriorVentana'">
    <article class="texto"> Rodeando la casa llegas a una ventana rota.
        En el interior puedes observar un dormitorio y lo que parece un escritorio con objetos de laboratorio <br>
        <div class="botonflex">
            <button class="button" (click)="DatosService.siguiente('dormitorio')"> entrar por la ventana</button>
        </div>
        <div class="botonflex">
            <button class="button" *ngIf="DatosService.salon == true" (click)="DatosService.siguiente('puertaRuido')">
                volver a la
                puerta</button>
        </div>
        <div class="botonflex">
            <button class="button" *ngIf="DatosService.salon == false"
                (click)="DatosService.siguiente('puertaSilencio')">
                volver a la
                puerta</button>
        </div> <!-- 32 -->
        <div class="botonflex">
            <button class="button" *ngIf="DatosService.coche == true && DatosService.conocimiento == true"
                (click)="DatosService.siguiente('volverCoche')"> volver al coche inmediatamente
            </button>
        </div>
        <div class="botonflex">
            <button
                *ngIf="DatosService.coche == false && DatosService.conocimiento == true && DatosService.herramientas == true"
                (click)="DatosService.siguiente('volverCoche')"> volver al coche inmediatamente
            </button>
        </div>
    </article>
</div>

<div *ngIf="DatosService.lugar == 'dormitorio'">
    <article class="texto"> Al entrar en la habitación ves cristales y un líquido violeta vertido por la el suelo.
        Hay una puerta que da a lo que parece el salón.
        Husmeas las notas que te encuentras entre las probetas y descubres que tu tío ha estado desarrollando un
        "elixir" con el que pretendía curar ciertas enfermedades, y lo único que consiguió es que los animales que
        entraban en contacto
        con dicha sustancia crecieran desproporcionadamente.<br><br>
        Sientes como el miedo recorre tu cuerpo al tener la certeza de que este lugar no es nada seguro
        <div *ngIf="DatosService.coche == true"> "¡Debería volver cuanto antes al coche!" </div> <br>
        <div *ngIf="DatosService.coche == true"> "¡Tengo que encontrar cómo reparar el coche!" </div>
        <div class="botonflex">
            <button class="button" *ngIf="DatosService.salon == true" (click)="DatosService.siguiente('salon')">entrar
                al
                salón</button>
        </div>
        <div class="botonflex">
            <button class="button" *ngIf="DatosService.salon == false" (click)="DatosService.siguiente('salon')">entrar
                al
                salón</button>
        </div>
        <div class="botonflex">
            <button class="button" *ngIf="DatosService.salon == true"
                (click)="DatosService.siguiente('puertaRuido')">salir
                y volver a la
                puerta
                principal</button>
        </div>
        <div class="botonflex">
            <button class="button" *ngIf="DatosService.salon == false"
                (click)="DatosService.siguiente('puertaSilencio')">salir y volver a
                la puerta
                principal</button>
        </div>
        <div class="botonflex">
            <button class="button" *ngIf="DatosService.coche == true && DatosService.conocimiento == true"
                (click)="DatosService.siguiente('volverCoche')"> volver al coche inmediatamente
            </button>
        </div>
        <div class="botonflex">
            <button
                *ngIf="DatosService.coche == false && DatosService.conocimiento == true && DatosService.herramientas == true"
                (click)="DatosService.siguiente('volverCoche')"> volver al coche inmediatamente
            </button>
        </div>
    </article>
</div>


<div *ngIf="DatosService.lugar == 'cochera'">
    <article class="texto"> La cochera está llena de chismes y suciedad <div *ngIf="DatosService.coche == false">, por
            suerte,
            entre los trastos encuentras todo lo necesario para poder reparar el coche. </div><br><br>
        <div *ngIf="DatosService.conocimiento == false">Aunque tengas mucho miedo tras el ataque de dos insectos
            gigantes,
            sería interesante ver la habitación que falta antes de marcharse</div><br>

        <div class="botonflex">
            <button class="button" (click)="DatosService.siguiente('salon')">volver al salón</button>
        </div>
        <div class="botonflex">
            <button class="button" *ngIf="DatosService.conocimiento == true"
                (click)="DatosService.siguiente('volverCoche')"> volver al
                coche
                inmediatamente
            </button>
        </div>
    </article>
</div>

<div *ngIf="DatosService.lugar == 'volverCoche' && DatosService.tronco == false">
    <article class="texto"> Cuando sales al exterior ves pisadas en el suelo enormes,
        como si de un oso se tratase, pero aquí no hay osos... pero sí zorros o perros salvajes.
        Corres hacia el coche con todas tus fuerzas sin mirar atrás.
        Sientes un alivio inmenso al pasar por donde retiraste el tronco y ver que tienes el camino despejado.
        Entras al coche, recuperas el aliento, y tras asegurarte que no hay peligro, sales reparas el coche y te vas...
        <br><br><br>
        ¡Enhorabuena! Has completado la aventura! Y perdóname si te pusiste puntos en "puntería" ya que no han servido
        para nada.<br>
        <div class="botonflex">
            <button class="button" (click)="DatosService.siguiente('estadisticas')">estadisticas</button>
        </div>
    </article>
</div>
<div *ngIf="DatosService.lugar == 'volverCoche' && DatosService.tronco == true">
    <article class="texto"> Cuando sales al exterior ves pisadas en el suelo enormes,
        como si de un oso se tratase, pero aquí no hay osos... pero sí zorros o perros salvajes.
        Corres hacia el coche con todas tus fuerzas intentando no tropezar con nada en la oscuridad.<br>

        <div class="botonflex">
            <button class="button" (click)="DatosService.tirada('percepcion')"> Percepción</button>
        </div>
    </article>
</div>

<div *ngIf="DatosService.lugar == 'obstaculoTronco'">
    <article class="texto"> Ves el tronco que no retiraste del camino, ahora tienes que saltarlo.<br>

        <div class="botonflex">
            <button class="button" (click)="DatosService.tirada('velocidad')"> Saltar el tronco (velocidad) </button>
        </div>
    </article>
</div>

<div *ngIf="DatosService.lugar == 'muerte1'">
    <article class="texto"> Abre los ojos lentamente... "¿qué ha pasado?" te preguntas. Estás en el suelo sangrando por
        una brecha de la frente.
        Miras a tu alrededor y ves lo que ha ocurrido, te has tropezado mientras corrías a con el tronco del camino.
        Miras al otro lanzando
        y como si de una pesadilla se tratase, unos colmillos a tu lado de un animal inmenso brillan en la oscuridad.
        Apenas puedes reaccionar cuando se avalanzan sobre ti... Fin de la partida... <br><br>
        Primero pierdes la partida y luego descubres que repartiste puntos a la habilidad "puntería" para nada...<br>
        <div class="botonflex">
            <button class="button" (click)="DatosService.siguiente('estadisticas')">estadisticas</button>
        </div>
    </article>
</div>
<div *ngIf="DatosService.lugar == 'muerte2'">
    <article class="texto"> Abre los ojos lentamente... Estás en el suelo sangrando por una brecha de la frente.
        Miras a tu alrededor, no has sido capaz de esquivar el tronco del camino. Miras al otro lanzando
        y como si de una pesadilla se tratase, unos colmillos a tu lado de un animal inmenso brillan en la oscuridad.
        Apenas puedes reaccionar cuando se avalanzan sobre ti... Fin de la partida... <br><br>
        Primero pierdes la partida y luego descubres que repartiste puntos a la habilidad "puntería" para nada...<br>
        <div class="botonflex">
            <button class="button" (click)="DatosService.siguiente('estadisticas')">estadisticas</button>
        </div>
    </article>
</div>
<div *ngIf="DatosService.lugar == 'victoria'">
    <article class="texto"> Entras al coche, recuperas el aliento, y tras asegurarte que no hay peligro, sales reparas
        el coche y te vas...
        <br><br><br>
        ¡Enhorabuena! Has completado la aventura! Y perdóname si te pusiste puntos en "puntería" ya que no han servido
        para nada.<br>
        <div class="botonflex">
            <button class="button" (click)="DatosService.siguiente('estadisticas')">estadisticas</button>
        </div>
    </article>
</div>
<div *ngIf="DatosService.lugar == 'victoria'">
    <article class="texto"> Entras al coche, recuperas el aliento, y tras asegurarte que no hay peligro, sales reparas
        el coche y te vas...
        <br><br><br>
        ¡Enhorabuena! Has completado la aventura! Y perdóname si te pusiste puntos en "puntería" ya que no han servido
        para nada.<br>
        <div class="botonflex">
            <button class="button" (click)="DatosService.siguiente('estadisticas')">estadisticas</button>
        </div>
    </article>
</div>
<div *ngIf="DatosService.lugar == 'estadisticas'">
</div>