.panel{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.uno{
    height: 200px;
    width: 200px;
    border: 1px solid red;
}.dos{
    height: 200px;
    width: 200px;
    border: 1px solid green;
}.tres{
    height: 200px;
    width: 200px;
    border: 1px solid blue;
}