<div class="panel">
  <div class="caja uno">
    <p class="atributos">Opciones <br> {{DatosService.nombre}}<br>
      <button class="button" (click)="DatosService.alternarSonido()">
        <div *ngIf="DatosService.sonidos == false">activar sonidos</div>
        <div *ngIf="DatosService.sonidos == true">desactivar sonidos</div>
      </button>
    </p>

  </div>
  <div class="caja dos">
    <div class="atributos">
      <br> Objetos: <br><br>
      <div class="objetos" *ngIf="DatosService.coche == false">Coche averiado</div>
      <div class="objetos" *ngIf="DatosService.palo == true">Palo de madera</div>
      <div class="objetos" *ngIf="DatosService.herramientas == true">herramientas</div>
    </div>
  </div>
  <div class="caja tres">
    <div class="atributos">
      <div class=cajaA> <b>Fuerza</b> <br>
        <img class="animacion" *ngIf="DatosService.fuerza == 0" width="130px" src="assets/0.png">
        <img class="animacion" *ngIf="DatosService.fuerza == 1" width="130px" src="assets/1.png">
        <img class="animacion" *ngIf="DatosService.fuerza == 2" width="130px" src="assets/2.png">
        <img class="animacion" *ngIf="DatosService.fuerza == 3" width="130px" src="assets/3.png">
        <img class="animacion" *ngIf="DatosService.fuerza == 4" width="130px" src="assets/4.png">
      </div>
      <div class=cajaA><b>Velocidad </b><br>
        <img class="animacion" *ngIf="DatosService.velocidad == 0" width="130px" src="assets/0.png">
        <img class="animacion" *ngIf="DatosService.velocidad == 1" width="130px" src="assets/1.png">
        <img class="animacion" *ngIf="DatosService.velocidad == 2" width="130px" src="assets/2.png">
        <img class="animacion" *ngIf="DatosService.velocidad == 3" width="130px" src="assets/3.png">
        <img class="animacion" *ngIf="DatosService.velocidad == 4" width="130px" src="assets/4.png">
      </div>
      <div class=cajaA><b>Puntería</b><br>
        <img class="animacion" *ngIf="DatosService.punteria == 0" width="130px" src="assets/0.png">
        <img class="animacion" *ngIf="DatosService.punteria == 1" width="130px" src="assets/1.png">
        <img class="animacion" *ngIf="DatosService.punteria == 2" width="130px" src="assets/2.png">
        <img class="animacion" *ngIf="DatosService.punteria == 3" width="130px" src="assets/3.png">
        <img class="animacion" *ngIf="DatosService.punteria == 4" width="130px" src="assets/4.png">
      </div>
      <div class=cajaA><b>Percepción</b> <br>
        <img class="animacion" *ngIf="DatosService.percepcion == 0" width="130px" src="assets/0.png">
        <img class="animacion" *ngIf="DatosService.percepcion == 1" width="130px" src="assets/1.png">
        <img class="animacion" *ngIf="DatosService.percepcion == 2" width="130px" src="assets/2.png">
        <img class="animacion" *ngIf="DatosService.percepcion == 3" width="130px" src="assets/3.png">
        <img class="animacion" *ngIf="DatosService.percepcion == 4" width="130px" src="assets/4.png">
      </div>
    </div>
  </div>
</div>